### Do mountaineers die younger?

In [255]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import wikipedia
import wikipediaapi

In [256]:
article_name = "List of climbers and mountaineers"

# initialize wiki page
wiki_wiki = wikipediaapi.Wikipedia('en')
mountaineers = wiki_wiki.page(article_name)

#get only the text data
mountaineers = mountaineers.text

In [257]:
print("Type is: ", type(mountaineers))
print("Number of letters: ", len(mountaineers))

Type is:  <class 'str'>
Number of letters:  48687

In [258]:
mountaineers = mountaineers.split("\n")

In [259]:
mountaineers = mountaineers[3:]
mountaineers

['Vitaly Abalakov (1906–1992) Russia, climbed Lenin Peak (1934) and Khan Tengri (1936)',
 'Yevgeniy Abalakov (1907–1948) Russia, climbed Communism Peak (1933)',
 'Premlata Agarwal (born 1963) India, first Indian woman to complete all Seven Summits',
 'H. P. S. Ahluwalia (fl. 1965) India, climbed Mount Everest in 1965',
 'Pierre Allain (1904–2000) France, championed bouldering at Fontainebleau, and inventor of rubber rock-climbing shoes',
 'Christian Almer (1826–1898) Switzerland, numerous first ascents, including Eiger',
 'Ashraf Aman (born 1943) Pakistan, first Pakistani ascent of K2',
 'Luigi Amedeo, Duke of Abruzzi (1873–1933) Italy, first ascent of Mount Saint Elias of the Rwenzori Mountains',
 'Pat Ament (born 1946) US, rock climber and pioneer boulderer',
 'Melchior Anderegg (1827–1912) Switzerland, guide, with numerous first ascents, including new routes on Mont Blanc',
 "Conrad Anker (born 1963) US, discovered Mallory's body on Everest in 1999",
 'Tyler Armstrong (born 2004) US, in 2013, at age 9, the youngest to climb Aconcagua',
 'Melissa Arnot (born 1983) US, six ascents of Everest',
 'Bernd Arnold (born 1947) Germany, more than 900 first ascents in Saxon Switzerland',
 'Armando Aste (born 1926) Italy, first Italian ascent of Eiger north face',
 'Peter Athans (born 1957) US, seven ascents of Mount Everest',
 'Peter Aufschnaiter (1899–1973) Austria, mountaineer and companion of Heinrich Harrer (as described in Seven Years in Tibet)',
 'Abdul Jabbar Bhatti, Pakistani mountaineer and the former military officer of the Pakistan Army',
 '',
 'B',
 'Samina Baig - Gilgit-Baltistan, 3rd Pakistani and only Pakistani woman to climb Mount Everest',
 'John Bachar (1957–2009) US, noted for climbs in Yosemite National Park and free soloing',
 'John Ball (1818–1889) Ireland, naturalist and climber, Alps guidebooks author, first president of Alpine Club in 1857',
 'Jacques Balmat (1762–1834) Duchy of Savoy, Chamonix-based guide, first ascent Mont Blanc (1786)',
 'George Band (1929–2011) UK, Everest expedition (1953), first ascent on 1955 British Kangchenjunga expedition',
 'Kinga Baranowska (born 1975), Poland, first Polish woman to have climbed Dhaulagiri, Manaslu and Kangchenjunga',
 'Anna Barańska (born 1976) Poland, first Polish woman on the North Face of Mount Everest',
 'Henry Barber (born 1953) US, leading US rock climber in the 1970s',
 'Andrzej Bargiel Current record holder in speed to get Snow Leopard award and current record holder Elbrus Race',
 'Lilliane and Maurice Barrard (1948–1986 and 1941?–1986 respectively) France, Gasherbrum II (1982), Nanga Parbat (1984, first female ascent), both killed on K2',
 'Charles Barrington (1834–1901) UK, first ascent Eiger (1858)',
 'Richard Bass (born 1929) US, businessman and amateur mountaineer, first to complete Seven Summits (1985)',
 'Robert Hicks Bates (1911–2007) US, first ascent Mount Lucania (1937), on US attempts on K2 (1938 and 1953)',
 'Mark Beaufoy (1764–1827) UK, fourth ascent Mont Blanc (1787)',
 'Fred Beckey (Friedrich Wolfgang Beckey) (1923-2017) Germany/US, many first ascents in US and Canada',
 'Bentley Beetham (1886–1963) UK, on 1924 Everest expedition; pioneer of Borrowdale (Lake District) rock climbing',
 'George Irving Bell (1926–2000) US, physicist, biologist and mountaineer, first ascent Masherbrum (1960), rescued on K2 (1953)',
 'Gertrude Bell (1868–1926) UK, many ascents in Alps and further afield',
 'Maciej Berbeka (1954–2013) first winter ascents of eight-thousanders: Manaslu, Cho Oyu, Broad Peak',
 'Josune Bereziartu (born 1972) Basque (Spain), rock climber; first female climber in grade 9a/5.14d',
 'Patrick Berhault (1957–2004) France, many ascents in the Alps.',
 'Didier Berthod Switzerland, featured in First Ascent',
 'Adam Bielecki (born 1983) first winter ascents of eight-thousanders: Gasherbrum I and Broad Peak',
 'John Biggar (born 1964) Scottish mountaineer who has made various first ascents in the Andes',
 'Isabella Bird (1831–1904) UK, traveller, writer and natural historian',
 'Barry Blanchard (born 1959) Canada, mountain guide; first ascents in the Saint Elias range of Alaska',
 'Smoke Blanchard (1915–1989) US, developed Buttermilk bouldering area',
 'Karl Blodig (1859–1956) Austria, mountaineer, optician and journalist; first to climb all 4,000 metres peaks in the Alps',
 'Arlene Blum (born 1945) US, first US female attempt on Everest, led first all-woman ascent of Annapurna',
 'Peter Boardman (1950–1982) UK, Everest 1975, Changabang West Wall 1976, Kanchenjunga 1979, died on Everest with Joe Tasker',
 'Emmanuel Boileau de Castelnau (1857–1923) France, first ascent La Meije with father and son Pierre Gaspard (1877)',
 'Jean-Marc Boivin (1951–1990) France, exponent of extreme ascents and descents',
 'Walter Bonatti (1930–2011) Italy, mountaineer and writer, solo new routes on Aiguille du Dru and Matterhorn',
 'Sir Chris Bonington (born 1934) UK, first ascent Central Pillar of Freney (1961), Annapurna II (1960), Nuptse (1961), Central Tower of Paine (1962–3), ascent of Everest (1985)',
 'Thomas George Bonney (1833–1923) UK, geologist and mountaineer, president of Alpine Club',
 'Jack Borgenicht (1911-2005), USA,  garment manufacturer, philanthropist, oldest person to climb Mount Rainier at age 81',
 'Alastair Borthwick (1913–2003) Scotland, climber and author of Always a Little Further',
 'Christine Boskoff (1967–2006) US, 6 8,000m summits, including Everest twice, died on Genyen Peak',
 'Anatoli Boukreev (1958–1997) Russia, climbed seven 8,000 m peaks without supplemental oxygen, died on Annapurna 1997',
 'Loulou Boulaz (1908–1991) Switzerland, several first ascents and first female ascents in the Alps',
 'Tom Bourdillon (1924–1956) UK, Cho Oyu (1952), British Everest expeditions (1951, 1952 and 1953), South Summit of Everest (1953), died on the Jägihorn',
 'Stipe Božić (born 1951) FPR Yugoslavia, completed Seven Summits, second European to climb Everest twice',
 'Lydia Bradey (born 1961) New Zealand, first woman to climb Mt Everest without oxygen 1988',
 'Samuel Brawand (1898–2001) Switzerland, politician and mountain guide; first ascent of Mittellegigrat (northeast ridge of Eiger) (1921)',
 'David Breashears (born 1956) US, Everest twice, directed IMAX film Everest',
 'Meta Brevoort (1825–1876) US, alpinist of Victorian period, aunt of W. A. B. Coolidge',
 'Russell Brice (born 1952) New Zealand, record for fastest single solo ascent without oxygen of Cho Oyu and Ama Dablam',
 'Jim Bridwell (1944–2018) US, rock climber, first one-day ascent of Nose of El Capitan in 1975',
 'David Brower (1912–2000) US, Executive Director of Sierra Club and Yosemite climber',
 'Joe Brown (1930-2020) UK, rock climber, first ascent Aiguille de Blaitière west face, Kanchenjunga (1955), Mustagh Tower',
 'Katie Brown (born 1981) US, won 1995 X Games and climbing Junior World Cup',
 'Geoffrey Bruce (1896–1972) UK, in 1922 reached 8,300 metres (27,300 ft) on Everest (then a world record) on his first mountain climb.',
 'Hermann Buhl (1924–1957) Austria, first ascent Nanga Parbat (1953) and Broad Peak (1957), died on Chogolisa',
 'Alexander Burgener (1845–1910) Switzerland, first ascent Matterhorn Zmuttgrat, Grands Charmoz, Aiguille du Grépon, Lenzspitze, Grand Dru',
 'Jean Buridan (c. 1300–1358) France, climbed Mont Ventoux for the view, before Petrarch',
 '',
 'C',
 'Tommy Caldwell (born 1978) US, rock climber, free climbed the Dawn Wall on El Capitan',
 'Una Cameron (1904–1987) UK, ascents in Alps, Caucasus and Africa',
 'Louis Ramond de Carbonnières (1755–1827) France, scientist and Pyrenean pioneer',
 'Kim Carrigan (born 1958) Australia, leading technical rock climber of the 1980s',
 'Carlos Carsolio (born 1962) Mexico, 14 8,000m summits (1985–1996)',
 'Riccardo Cassin (1909–2009) Italy, first ascent Piz Badile north-east face (1937); Grandes Jorasses Walker Spur (1938); Mount McKinley Cassin Ridge (1961)',
 'Cristina Castagna (1977–2009) Italy, first Italian female ascent Makalu',
 'Alison Chadwick-Onyszkiewicz (1942–1978) Britain, first ascent Gasherbrum III',
 'Ludwik Chałubiński (1860–1933) Poland, first ascent Mięguszowiecki Szczyt Wielki',
 'Armand Charlet (1900–1975) France, many first ascents in Mont Blanc massif',
 'Isabella Charlet-Straton (1838–1918) UK, first ascents in Alps, first winter ascent Mont Blanc (1876)',
 'Maxime Chaya (born 1961) Lebanon, Everest (2006), Seven Summits and Three Poles Challenge',
 'Chhurim (born 1984) Nepal, first woman to reach Everest summit twice in a week',
 'Renata Chlumska (born 1973) Sweden, first Swedish female ascent Everest (1999)',
 'Yvon Chouinard (born 1938) US, pioneer of Yosemite climbing, founder of Chouinard Equipment and Patagonia',
 'Leszek Cichy (born 1951) Poland, first winter ascent Everest',
 'John Clarke (1945–2003) Canada, explorer and wilderness educator, over 600 first ascents in Coast Range of British Columbia',
 'Vern Clevenger (born 1955) US, first ascent Cholatse (1982), numerous first routes ascents in Sierra Nevada',
 'Ian Clough (1939–1970) UK, first ascent Am Buachaille (1968), first UK ascent Eiger north face (1962), died on Annapurna',
 "Norman Clyde (1886–1972) US, pioneer of California's Sierra Nevada",
 'Johann Coaz (1822–1918) Switzerland, first ascent of Piz Bernina',
 'J. Norman Collie (1859–1942) UK, first ascent Ben Nevis Tower Ridge, Nanga Parbat expedition (1895)',
 'Emilio Comici (1901–1940) Italy, first ascent Cima Grande di Lavaredo north face (1933) with Angelo and Giuseppe Dimai, died in accident in Val Gardena',
 'Achille Compagnoni (born 1914) Italy, first ascent K2 (1954) with Lino Lacedelli',
 'Kyra Condie (born 1996) US, member of the 2020 US Olympic climbing team',
 'Herb and Jan Conn (Herb: 1921–2012) US, early pioneers of climbing in areas like Carderock in Maryland, Seneca Rocks in West Virginia, and Black Hills of South Dakota',
 'William Martin Conway (1856–1937) UK, surveyor and explorer (Karakoram, Spitsbergen, Andes & Alps)',
 'Kenton Cool (born 1973) UK, ten-time Everest summiter',
 'W. A. B. Coolidge (1850–1926) US, 1,700 expeditions in Alps, Alpine historian',
 'Janne Corax (born 1967) Sweden, adventurer and climber',
 'Henri Cordier (1856–1877) France, first ascents Aiguille du Plat de la Selle, Les Droites (east summit) (1876) died in accident on Le Plaret',
 "Patrick Cordier (1947–1996) France, first ascent French Direct on Norway's Troll Wall (1967), solo ascent The Nose, Yosemite (1973), first ascents in Mont Blanc massif",
 'Jean Couzy (1923–1958) France, first ascent Makalu with Terray on the 1955 French Makalu expedition',
 'Lucy Creamer (born 1971) British champion climber',
 'Peter Croft (born 1958) Canada, many hard first ascents in the Sierra Nevada',
 'Aleister Crowley (1875–1947) UK, occultist, writer, and rock climber, led early expeditions on K2 and Kanchenjunga',
 'Michel Croz (1830–1865) France, numerous first ascents, died on descent after first ascent of Matterhorn',
 'John Cunningham (1927–1980) Scotland, pioneered new techniques of ice climbing',
 'Bronisław Czech (1908–1944) Poland, a mountain rescue pioneer in the Tatra Mountains',
 'Anna Czerwińska (born 1949) Poland, oldest female ascent Everest (at the time, age 50), first Polish female Seven Summits',
 'Andrzej Czok (1948–1986), Poland first winter ascent of Dhaulagiri and first ascent of Mount Everest through South Pillar',
 '',
 'D',
 'Kalpana Dash (born 1966) India, first from Odisha, India to climb Mount Everest (2008)',
 'Sophia Danenberg (born 1972) US, first African American and first black woman to summit Mount Everest',
 'Steph Davis (born 1973) US, second female one-day free climb El Capitan',
 'Johnny Dawes (born 1964) UK, rock climber, introduced two new grades in British grading system',
 'José Antonio Delgado (1965–2006) Venezuela, five 8,000m summits (1994–2006), died on Nanga Parbat',
 'Clinton Thomas Dent (1850–1912) UK, Caucasus, Alps, first ascent Lenzspitze (1870), Aiguille du Dru (1878)',
 'Ardito Desio (1897–2001) Italy, geologist and mountaineer, leader of K2 first-ascent expeditionbonatt (1954)',
 'Catherine Destivelle (born 1960) France, first woman to solo the Eiger North Face in winter',
 'Kurt Diemberger (born 1932) Austria, first ascent Broad Peak (1957) and Dhaulagiri (1960), climbed K2 (1986 K2 disaster)',
 'Sasha DiGiulian (born 1992) US, first woman to free climb Magic Mushroom, Eiger',
 'Jan Długosz mountaineer',
 'Jim Donini (1943) US, first ascent of Torre Egger, noted mountaineer',
 'Hans Christian Doseth (1958–1984) Norway, climbed Great Trango Tower east face (1984), died during descent',
 'Lord Francis Douglas (1847–1865) Scotland, died on descent after first ascent of Matterhorn',
 'Lonnie Dupre (born 1961) US, Solo climb of Denali in winter',
 'Hans Dülfer (1892–1915) Germany, rock climber killed in World War I',
 'Hayatullah Khan Durrani (born 1962) Pakistan, mountaineer and rock climber',
 'Günther Dyhrenfurth (1886–1975) Germany/Switzerland, Himalayan explorer, led German expeditions to Kanchenjunga (1930, 1931)',
 '',
 'E',
 'James Eccles (1838–1915) UK, first ascents in Mont Blanc massif',
 'Oscar Eckenstein (1859–1921) UK, alpinist, rock climber and boulderer',
 'Patrick Edlinger (1960–2012) France, award-winning rock climber, featured in several rock climbing movies',
 'Angela Eiter (born 1986), Austria, first woman in history to climb a 9b (5.15b) route (La Planta de Shiva at Villanueva del Rosario, Spain)',
 'Zsolt Erőss (1968–2013) Hungary, ten eight-thousanders, two with prosthetic leg, died on descent from Kangchenjunga summit',
 'Susan Ershler (born 1956) US, first married couple to climb the Seven Summits, together (with Phil Ershler)',
 'Leila Esfandyari (1970–2011) Iran, first Iranian woman to climb Nanga Parbat; died on Gasherbrum II',
 'Jens Esmark (1763–1839) Norway, first ascent Snøhetta (1798) and Mount Gaustatoppen, led first expedition to Bitihorn',
 'Nick Estcourt (1942–1978) UK, killed on K2 by avalanche',
 'Charles Evans (1918–1995) UK, Alps, Wales, leader of Kangchenjunga first ascent 1955 British Kangchenjunga expedition',
 'John Ewbank (born 1948) Australia, pioneer of Australian rock climbing, invented Australian (Ewbank) grading system',
 '',
 'F',
 'Freda du Faur (1882–1935) Australia, first female ascent of Aoraki / Mount Cook',
 'Ron Fawcett (born 1955) UK, one of the first professional rock climbers',
 'Sue Fear (1963–2006) Australia, five 8,000ers, killed in crevasse fall on Manaslu',
 'Rudolf Fehrmann (1886–1947) Germany, pioneer rock climber in Elbsandsteingebirge',
 'Darby Field (1610–1649) Ireland?, first European to climb Mount Washington (New Hampshire) (1642)',
 "George Ingle Finch (1888–1970) Australia, reached 8,300 m on 1922 Everest expedition; Dent d'Hérens north face",
 'Scott Fischer (1955–1996) US, Lhotse 1990, K2 1992, Everest 1994; died in 1996 Mount Everest disaster',
 'Hans Florine (born 1964) US, speed climber, ascent The Nose El Capitan (2012) in 2:36:45',
 'James David Forbes (1809–1868) UK, first British ascent Jungfrau',
 'Charlie Fowler (1954–2006) US, free solo rock climber and high-altitude mountaineer',
 "Mick Fowler (born 1956) UK, explorer and mountaineer, winner of Piolet D'Or (2003)",
 'Douglas Freshfield (1845–1934) UK, Alps, Scotland, Himalayas, Pyrenees',
 'Tom Frost US, rock climber, first ascents of big walls in Yosemite Valley',
 'Fritiof Fryxell (1900-1986) US, geologist and park ranger, first ascents in the Teton Range',
 'Wang Fuzhou (1935–2015) China, first ascent Everest north face, first ascent Shishapangma',
 '',
 'G',
 'Patrick Gabarrou (born 1951) France, first ascents in Mont Blanc massif',
 'Will Gadd (born 1967) Canada, various hard mixed routes including the first M12',
 'Ryszard Gajewski',
 'Lene Gammelgaard Denmark, author of Climbing High, first female Scandinavian ascent of Everest',
 'João Garcia (born 1967) Portugal, first Portuguese to climb Everest and tenth to climb all 8,000m summits (1993–2010)',
 'Rolando Garibotti (born 1971) Argentina/US, Fitz Roy, Cerro Torre traverse',
 'Pierre Gaspard (1834–1915) France, first ascent La Meije with his son and Emmanuel Boileau de Castelnau',
 'Chanda Gayen (1979–2014) India, first woman from West Bengal to climb Everest, killed on Kanchenjunga western side',
 'Lakpa Gelu (born 1967) Nepal, 12 Everest ascents',
 'Lester Germer (1896–1971) US, physicist, World War I fighter pilot and rock climber',
 'Conrad Gessner (1516–1565) Switzerland, naturalist and early mountaineer in the Alps',
 'Azim Gheychisaz (born 1981) Iranian mountain climber who climebed all 14 Eight-thousanders',
 'John Gill (born 1937) US, father of modern bouldering, introduced chalk and modern dynamics in the 1950s',
 'Stefan Glowacz (born 1965) Germany, professional rock climber',
 'Alessandro Gogna (born 1946) Italy, mountaineer, adventurer and mountain guide from',
 'Dan Goodwin (born 1955) US, rock/building climber, climbed World Trade Center, Sears Tower, John Hancock Center and CN Tower',
 'Dave Graham (born 1981) US, rock climber and boulderer',
 'Tormod Granheim (born 1974) Norway, climber and extreme skier, first ski descent Everest north face (2006)',
 'Chloé Graftiaux (1987–2010) Belgium, rock and sport climber and mountaineer',
 'William Spotswood Green (1847–1919) New Zealand, Selkirks',
 'Paul Grohmann (1838–1908) Austria, numerous first ascents in the 19th century',
 'Michael Groom (born 1959) Australia, ascents of Lhotse, Kangchenjunga, K2 and Everest without bottled oxygen',
 'Bear Grylls (born 1974) in 1998, at age 23, was the youngest Briton to summit Mount Everest',
 'Wolfgang Güllich (1960–1992) Germany, rock climber and boulderer, first 5.14d - Action Directe (1991)',
 'Paul Güssfeldt (1840–1920) Germany, first ascent Peuterey ridge and Piz Scerscen, first European attempt on Aconcagua (1883)',
 'Veikka Gustafsson (born 1968) Finland, all 8,000m summits (1993–2009)',
 '',
 'H',
 'Peter Habeler (born 1942) Austria, first ascent without supplementary oxygen Everest (1978) with Reinhold Messner',
 'Douglas Robert Hadow (1846–1865) UK, died on first ascent Matterhorn (1865)',
 'Dave Hahn - US, 11 Everest ascents, 26 Vinson Massif ascents, 19 Denali ascents',
 'Artur Hajzer (1962–2013) Poland, first winter ascent of Annapurna with Jerzy Kukuczka (1987)',
 'Lincoln Hall (1956–2012) Australia, rescued at 8,700m on descent from Everest (2006)',
 'Rob Hall (1960–1996) New Zealand, Seven Summits in seven months, died in 1996 Mount Everest disaster',
 'Peter Harding (1924–2007) UK, prominent climber of the 1940s',
 'Warren J. Harding (1924–2002) first ascent El Capitan',
 'Alison Hargreaves (1963–1995) UK, first female unassisted Everest (1995), died on descent from K2 summit',
 'John Harlin (1934–1966) US, direct route pioneer, killed on Eiger north face',
 'Heinrich Harrer (1912–2006) Austria, first ascent Eiger north face (1938) and Carstensz Pyramid (1962), author of Seven Years in Tibet',
 'Ginette Harrison (1958–1999) UK, Seven Summits, first female ascent Kangchenjunga (1998), killed on Dhaulagiri',
 'Dougal Haston (1940–1977) Scotland, first ascent Annapurna south face (1970), killed in avalanche near Leysin',
 'Elizabeth Hawkins-Whitshed (1860–1934) UK, pioneer of mountaineering, mountain photographer, author',
 'Margo Hayes (born 1998), US, first woman to climb 5.15a (La Rambla, Spain)',
 'Andreas Heckmair (1906–2005) Germany, first ascent Eiger north face (1938)',
 'Zygmunt Andrzej Heinrich',
 'Gary Hemming (1934–1969) US, first ascent south face Aiguille du Fou',
 'Siegfried Herford (1891–1916) UK, first ascent Scafell Central Buttress (1914)',
 'Derek Hersey (1956–1993) UK, many free solo routes in the US',
 'Maurice Herzog (1919–2012) France, led 1950 French Annapurna expedition (first 8,000m peak climbed)',
 'Tom Higgins (born 1944) US, first and first free ascents in US, also in France outside Chamonix',
 'Lynn Hill (born 1961) US, first free ascent The Nose on El Capitan, Yosemite (1993)',

In [260]:
df = pd.DataFrame(mountaineers)
df.head()

                                                   0
0  Vitaly Abalakov (1906–1992) Russia, climbed Le...
1  Yevgeniy Abalakov (1907–1948) Russia, climbed ...
2  Premlata Agarwal (born 1963) India, first Indi...
3  H. P. S. Ahluwalia (fl. 1965) India, climbed M...
4  Pierre Allain (1904–2000) France, championed b...

In [261]:
df.drop(df.tail(7).index,inplace=True) # drop last n rows
df.tail(10)

                                                     0
566                                                  Z
567                                    Mariusz Zaruski
568  Andrzej Zawada (1928–2000) Poland, pioneer of ...
569  Li Zhixin (born 1962) China, half of first Chi...
570  Emil Zsigmondy (1861–1885) Austria, physician ...
571  Jerzy Żuławski (1874–1915) Polish literary fig...
572  Juliusz Żuławski (1910–1999) Polish poet, pros...
573  Marek Żuławski (1908–1985) Polish painter, gra...
574  Wawrzyniec Żuławski (1916–1957) Polish compose...
575  Matthias Zurbriggen (1856–1917) Switzerland, f...

In [262]:
df = df[0].str.split("(",n=1,expand=True)
df = df.rename(columns={0: "Name"})

In [263]:
df[["Year","Rest"]] = df[1].str.split(")",n=1,expand=True)
df = df.drop(1,axis=1)
df

,Name,Year,Rest
0,Vitaly Abalakov,1906–1992,"Russia, climbed Lenin Peak (1934) and Khan Te..."
1,Yevgeniy Abalakov,1907–1948,"Russia, climbed Communism Peak (1933)"
2,Premlata Agarwal,born 1963,"India, first Indian woman to complete all Sev..."
3,H. P. S. Ahluwalia,fl. 1965,"India, climbed Mount Everest in 1965"
4,Pierre Allain,1904–2000,"France, championed bouldering at Fontaineblea..."
...,...,...,...
571,Jerzy Żuławski,1874–1915,"Polish literary figure, philosopher, translat..."
572,Juliusz Żuławski,1910–1999,"Polish poet, prose writer, literary critic, t..."
573,Marek Żuławski,1908–1985,"Polish painter, graphic artist, author and cl..."
574,Wawrzyniec Żuławski,1916–1957,"Polish composer, music critic and teacher; di..."
575,Matthias Zurbriggen,1856–1917,"Switzerland, first ascent Aconcagua (1897)"

In [264]:
df[["Born","Died"]] = df["Year"].str.split("–",n=1,expand=True)
df = df.drop("Year",axis=1)
df

,Name,Rest,Born,Died
0,Vitaly Abalakov,"Russia, climbed Lenin Peak (1934) and Khan Te...",1906,1992
1,Yevgeniy Abalakov,"Russia, climbed Communism Peak (1933)",1907,1948
2,Premlata Agarwal,"India, first Indian woman to complete all Sev...",born 1963,None
3,H. P. S. Ahluwalia,"India, climbed Mount Everest in 1965",fl. 1965,None
4,Pierre Allain,"France, championed bouldering at Fontaineblea...",1904,2000
...,...,...,...,...
571,Jerzy Żuławski,"Polish literary figure, philosopher, translat...",1874,1915
572,Juliusz Żuławski,"Polish poet, prose writer, literary critic, t...",1910,1999
573,Marek Żuławski,"Polish painter, graphic artist, author and cl...",1908,1985
574,Wawrzyniec Żuławski,"Polish composer, music critic and teacher; di...",1916,1957
575,Matthias Zurbriggen,"Switzerland, first ascent Aconcagua (1897)",1856,1917

In [265]:
Country = df["Rest"].str.split(n=1,expand=True)
Country = Country
Country

                0                                                  1
0         Russia,   climbed Lenin Peak (1934) and Khan Tengri (1936)
1         Russia,                      climbed Communism Peak (1933)
2          India,   first Indian woman to complete all Seven Summits
3          India,                      climbed Mount Everest in 1965
4         France,  championed bouldering at Fontainebleau, and in...
..            ...                                                ...
571        Polish  literary figure, philosopher, translator and a...
572        Polish  poet, prose writer, literary critic, translato...
573        Polish  painter, graphic artist, author and climber; s...
574        Polish  composer, music critic and teacher; died durin...
575  Switzerland,                      first ascent Aconcagua (1897)

[576 rows x 2 columns]

In [266]:
Country = Country[0].str.strip(",")
Country

0           Russia
1           Russia
2            India
3            India
4           France
          ...
571         Polish
572         Polish
573         Polish
574         Polish
575    Switzerland
Name: 0, Length: 576, dtype: object

In [267]:
df["Country"] = Country
df = df.drop("Rest",axis=1)
df

                     Name       Born  Died      Country
0        Vitaly Abalakov        1906  1992       Russia
1      Yevgeniy Abalakov        1907  1948       Russia
2       Premlata Agarwal   born 1963  None        India
3     H. P. S. Ahluwalia    fl. 1965  None        India
4          Pierre Allain        1904  2000       France
..                    ...        ...   ...          ...
571       Jerzy Żuławski        1874  1915       Polish
572     Juliusz Żuławski        1910  1999       Polish
573       Marek Żuławski        1908  1985       Polish
574  Wawrzyniec Żuławski        1916  1957       Polish
575  Matthias Zurbriggen        1856  1917  Switzerland

[576 rows x 4 columns]

In [268]:
df['Born'] = df['Born'].str.extract('(\d+)')
df

                     Name  Born  Died      Country
0        Vitaly Abalakov   1906  1992       Russia
1      Yevgeniy Abalakov   1907  1948       Russia
2       Premlata Agarwal   1963  None        India
3     H. P. S. Ahluwalia   1965  None        India
4          Pierre Allain   1904  2000       France
..                    ...   ...   ...          ...
571       Jerzy Żuławski   1874  1915       Polish
572     Juliusz Żuławski   1910  1999       Polish
573       Marek Żuławski   1908  1985       Polish
574  Wawrzyniec Żuławski   1916  1957       Polish
575  Matthias Zurbriggen   1856  1917  Switzerland

[576 rows x 4 columns]

In [269]:
df = df.fillna(value=np.nan)

In [270]:
df["Born"] = pd.to_numeric(df["Born"])
#here's a married couple in one line with two dates, we ditch them
df = df.drop(29,axis=0)
df.head(30)

,Name,Born,Died,Country
0,Vitaly Abalakov,1906.0,1992,Russia
1,Yevgeniy Abalakov,1907.0,1948,Russia
2,Premlata Agarwal,1963.0,NaN,India
3,H. P. S. Ahluwalia,1965.0,NaN,India
4,Pierre Allain,1904.0,2000,France
5,Christian Almer,1826.0,1898,Switzerland
6,Ashraf Aman,1943.0,NaN,Pakistan
7,"Luigi Amedeo, Duke of Abruzzi",1873.0,1933,Italy
8,Pat Ament,1946.0,NaN,US
9,Melchior Anderegg,1827.0,1912,Switzerland
10,Conrad Anker,1963.0,NaN,US
11,Tyler Armstrong,2004.0,NaN,US
12,Melissa Arnot,1983.0,NaN,US
13,Bernd Arnold,1947.0,NaN,Germany
14,Armando Aste,1926.0,NaN,Italy
15,Peter Athans,1957.0,NaN,US
16,Peter Aufschnaiter,1899.0,1973,Austria
17,"Abdul Jabbar Bhatti, Pakistani mountaineer and...",NaN,NaN,NaN
18,,NaN,NaN,NaN
19,B,NaN,NaN,NaN
20,"Samina Baig - Gilgit-Baltistan, 3rd Pakistani ...",NaN,NaN,NaN
21,John Bachar,1957.0,2009,US
22,John Ball,1818.0,1889,Ireland
23,Jacques Balmat,1762.0,1834,Duchy
24,George Band,1929.0,2011,UK
25,Kinga Baranowska,1975.0,NaN,
26,Anna Barańska,1976.0,NaN,Poland
27,Henry Barber,1953.0,NaN,US
28,Andrzej Bargiel Current record holder in speed...,NaN,NaN,NaN
30,Charles Barrington,1834.0,1901,UK

In [271]:
df = df[df["Born"].notna()]
df["Died"] = pd.to_numeric(df["Died"])
df["Age"] = df["Died"] - df["Born"]
df

                     Name    Born    Died      Country   Age
0        Vitaly Abalakov   1906.0  1992.0       Russia  86.0
1      Yevgeniy Abalakov   1907.0  1948.0       Russia  41.0
2       Premlata Agarwal   1963.0     NaN        India   NaN
3     H. P. S. Ahluwalia   1965.0     NaN        India   NaN
4          Pierre Allain   1904.0  2000.0       France  96.0
..                    ...     ...     ...          ...   ...
571       Jerzy Żuławski   1874.0  1915.0       Polish  41.0
572     Juliusz Żuławski   1910.0  1999.0       Polish  89.0
573       Marek Żuławski   1908.0  1985.0       Polish  77.0
574  Wawrzyniec Żuławski   1916.0  1957.0       Polish  41.0
575  Matthias Zurbriggen   1856.0  1917.0  Switzerland  61.0

[490 rows x 5 columns]

In [272]:
df["Alive"] = np.where(df['Age'].notna(), "Dead", "Alive")
df

                     Name    Born    Died      Country   Age  Alive
0        Vitaly Abalakov   1906.0  1992.0       Russia  86.0   Dead
1      Yevgeniy Abalakov   1907.0  1948.0       Russia  41.0   Dead
2       Premlata Agarwal   1963.0     NaN        India   NaN  Alive
3     H. P. S. Ahluwalia   1965.0     NaN        India   NaN  Alive
4          Pierre Allain   1904.0  2000.0       France  96.0   Dead
..                    ...     ...     ...          ...   ...    ...
571       Jerzy Żuławski   1874.0  1915.0       Polish  41.0   Dead
572     Juliusz Żuławski   1910.0  1999.0       Polish  89.0   Dead
573       Marek Żuławski   1908.0  1985.0       Polish  77.0   Dead
574  Wawrzyniec Żuławski   1916.0  1957.0       Polish  41.0   Dead
575  Matthias Zurbriggen   1856.0  1917.0  Switzerland  61.0   Dead

[490 rows x 6 columns]

In [273]:
replacement_dict = {"Austrian": "Austria", 
                    "Polish": "Poland", 
                    "Duchy": "France", 
                    "": "Unknown", 
                    "FPR": "Croatia", 
                    "Scottish": "UK",
                    "Scotland": "UK", 
                    "New": "New Zealand",
                    "Britain": "UK",
                    "British": "UK",
                    "Germany/Switzerland": "Germany",
                    "Ireland?": "Ireland",
                    "Argentina/US": "Argentinia",
                    "Iranian": "Iran",
                    "Australia/UK": "Australia",
                    "Pakistani": "Pakistan",
                    "Austria/Canada": "Austria",
                    "Austria-Slovenia": "Slovenia",
                    "Czechoslovakia": "Czech Republic",
                    "Scottish-born": "UK",
                    "United": "United States",
                    "Sherpa": "Nepal",
                    "Czech": "Czech Republic",
                    "Gilgit-Baltistan": "Pakistan",
                    "American": "United States",
                    "Swiss": "Switzerland",
                    "Switzerland/US": "Switzerland",
                    "England/Australia": "Australia",
                    "Czech-Austrian": "Czech Republic",
                    "Canadian": "Canada",
                    "France/Ireland": "France",
                    "German": "Germany",
                    }


df = df.replace({'Country': replacement_dict})

In [276]:
df["Country"].str.contains("South")

0      False
1      False
2      False
3      False
4      False
       ...
571    False
572    False
573    False
574    False
575    False
Name: Country, Length: 490, dtype: bool